# Our style is based on the Google style
# https://google.github.io/styleguide/cppguide.html
BasedOnStyle: Google

# we use left pointer alignment
DerivePointerAlignment: false
PointerAlignment: Left

IndentWidth: 4
ColumnLimit: 110
