image: nkx1231/root6-geant4-garfield:0.2

stages:
  - build
  - testMetarestG4
  - testProcess
  - deploy

before_script:
  - export USER="test"

build:
  type: build
  script:
    - mkdir /tmp/rest && cd /tmp/rest
    - rm -rf /builds/REST_v2/install
    - cmake ${CI_PROJECT_DIR} -DREST_WELCOME=OFF -DREST_GARFIELD=ON -DREST_G4=ON -DINSTALL_PREFIX=/builds/REST_v2/install
    - make install
    - . /builds/REST_v2/install/thisREST.sh
  artifacts:
    paths:
      - /builds/REST_v2/install
    expire_in: 1 week
      
testrestG4:
  type: testMetarestG4
  script:
    - . /builds/REST_v2/install/thisREST.sh
    - cd /builds/REST_v2/install/example/restG4template
    - restG4 restG4.rml
  artifacts:
    paths:
      - /builds/REST_v2/install
    expire_in: 1 day

testMeta:
  type: testMetarestG4
  script:
    - . /builds/REST_v2/install/thisREST.sh
    - cd /builds/REST_v2/install/example
    - restManager --c saveMetadataFile.rml --o meta.root
  artifacts:
    paths:
      - /builds/REST_v2/install
    expire_in: 1 day
      
testProcess:
  type: testProcess
  script:
    - . /builds/REST_v2/install/thisREST.sh
    - cd /builds/REST_v2/install/example
    - restManager --c electronicsSimu.rml --i restG4template/example_output.root --o abc.root
  artifacts:
    paths:
      - /builds/REST_v2/install
    expire_in: 1 day

deploy:
  type: deploy
  only:
    - tags
  script:
    - . /builds/REST_v2/install/thisREST.sh
    - rest-config --welcome
  artifacts:
    paths:
      - /builds/REST_v2/install