[submodule "source/libraries/axion"]
	path = source/libraries/axion
	url = https://github.com/rest-for-physics/axionlib.git
[submodule "source/libraries/model"]
	path = source/libraries/model
	url = git@lfna.unizar.es:gifna/RestModelLib.git
[submodule "projects/trexdm-simulations"]
	path = projects/trexdm-simulations
	url = git@lfna.unizar.es:gifna/trexdm-simulations.git
[submodule "projects/trexdm-readouts"]
	path = projects/trexdm-readouts
	url = git@lfna.unizar.es:gifna/trexdm-readouts.git
[submodule "projects/trexdm-geometry"]
	path = projects/trexdm-geometry
	url = git@lfna.unizar.es:gifna/trexdm-geometry.git
[submodule "projects/trexdm-quickana"]
	path = projects/trexdm-quickana
	url = git@lfna.unizar.es:gifna/trexdm-quickana.git
[submodule "projects/iaxo-simulations"]
	path = projects/iaxo-simulations
	url = git@lfna.unizar.es:iaxo/iaxo-simulations.git
[submodule "projects/iaxo-geometry"]
	path = projects/iaxo-geometry
	url = git@lfna.unizar.es:iaxo/iaxo-geometry.git
[submodule "projects/iaxo-readouts"]
	path = projects/iaxo-readouts
	url = git@lfna.unizar.es:iaxo/iaxo-readouts.git
[submodule "source/libraries/geant4"]
	path = source/libraries/geant4
	url = https://github.com/rest-for-physics/geant4lib.git
[submodule "source/libraries/raw"]
	path = source/libraries/raw
	url = https://github.com/rest-for-physics/rawlib.git
[submodule "source/libraries/track"]
	path = source/libraries/track
	url = https://github.com/rest-for-physics/tracklib.git
[submodule "source/libraries/detector"]
	path = source/libraries/detector
	url = https://github.com/rest-for-physics/detectorlib.git
[submodule "source/libraries/connectors"]
	path = source/libraries/connectors
	url = https://github.com/rest-for-physics/connectorslib.git
[submodule "source/packages/restG4"]
	path = source/packages/restG4
	url = https://github.com/rest-for-physics/restG4.git
[submodule "source/packages/restSQL"]
	path = source/packages/restSQL
	url = https://github.com/rest-for-physics/restSQL.git
[submodule "projects/basic-geometries"]
	path = projects/basic-geometries
	url = https://github.com/rest-for-physics/basic-geometries.git
[submodule "projects/basic-readouts"]
	path = projects/basic-readouts
	url = https://github.com/rest-for-physics/basic-readouts.git
[submodule "scripts/batch-scripts"]
	path = scripts/batch-scripts
	url = https://github.com/rest-for-physics/batch-scripts.git
[submodule "source/packages/restP3DB"]
	path = source/packages/restP3DB
	url = https://gitlab.pandax.sjtu.edu.cn/pandax-iii/restp3db.git
[submodule "projects/iaxo-analysis"]
	path = projects/iaxo-analysis
	url = git@lfna.unizar.es:iaxo/iaxo-analysis.git
[submodule "doc/userguide"]
	path = doc/userguide
	url = https://github.com/rest-for-physics/rest-docs.github.io.git
[submodule "projects/detector-project"]
	path = projects/detector-project
	url = git@github.com:rest-for-physics/detector-project.git
[submodule "projects/alphacamm"]
	path = projects/alphacamm
	url = git@lfna.unizar.es:gifna/alphacamm.git

