image: ghcr.io/lobis/root-geant4-garfield:cpp17_ROOT-v6-26-00_Geant4-v10.4.3_Garfield-af4a1451
#image: nkx1231/root6-geant4-garfield:0.6

variables:
#    GIT_SUBMODULE_STRATEGY: recursive

stages:
  # Basic checks to verify correctness of code
  - pre-build

  # Build and run tests
  - test

  # Project compilation validation
  - build

  # REST libraries installed as sub-modules
  - libraries

  # Basic validation tests of installation
  - install

  # Basic core validation tests
  - core

  # Stage dedicated to validate metadata classes. gas, readout, g4Metadata, etc
  - metadata

  # Stage to validate restG4 package examples
  - restG4

  # Stage to validate data chain processing constructions (TREX-DM data, PandaX-III topology, etc).
  - restManager_process

  # Stage to validate tasks or executions over preprocessed data filesx
  - postProcessing

  # Stage to validate other restManager tasks (metadata generation, script loading, etc).
  - restManager_generate

  # Scripts to launch more complete tests. TRestGas file generation, Geant4 physics validation, etc.
  - deploy

before_script:
  - pwd
  - export USER="test"
  - echo $CI_SERVER_HOST
  - echo $CRONJOB
  # We redefine the HOME
  - export HOME=${CI_PROJECT_DIR}/install/
  - rm -rf $HOME/.rest
  # Check versions
  - root-config --version
  - geant4-config --version
  - echo $GARFIELD_INSTALL
  - python3 --version

clang-format:
  stage: pre-build
  script:
    - if [ $CI_SERVER_HOST != "lfna.unizar.es" ]; then exit 0; fi
    - cd ${CI_PROJECT_DIR}/
    - if [ -n "$CRONJOB" ]; then ./pipeline/clangformattest.sh; else echo "Skipping clang-format"; fi
    - ./pipeline/clangformattest.sh
    - clang-format --version
  only:
    variables:
      - $CI_SERVER_HOST == "lfna.unizar.es"
      - $CRONJOB
      - $CRONJOB == "YES"

Validate Code:
  stage: pre-build
  script:
    - cd ${CI_PROJECT_DIR}/
    - python3 pull-submodules.py --force --dontask
    - python3 pipeline/validateProcesses.py source/libraries/

#axionLib:
#  stage: libraries
#  script:
#    - "curl -k -X POST -F token=bd53c38cdd1395ffeb14d297ebe202 -F ref=master https://lfna.unizar.es/api/v4/projects/31/trigger/pipeline"
#  only:
#      variables:
#          - $CI_SERVER_HOST == "lfna.unizar.es"

#modelLib:
#  stage: libraries
#  script:
#    - "curl -k -X POST -F token=a244698329647e96d55908d75f3f0e -F ref=master https://lfna.unizar.es/api/v4/projects/11/trigger/pipeline"
#  only:
#      variables:
#          - $CI_SERVER_HOST == "lfna.unizar.es"

Build and Test:
  type: test
  script:
    - cd ${CI_PROJECT_DIR}
    - python3 pull-submodules.py --force --dontask --latest:${CI_COMMIT_BRANCH}
    - mkdir ${CI_PROJECT_DIR}/build && cd ${CI_PROJECT_DIR}/build
    - cmake ${CI_PROJECT_DIR}
      -DTEST=ON -DREST_GARFIELD=ON -DREST_G4=ON -DRESTLIB_DETECTOR=ON -DRESTLIB_RAW=ON -DRESTLIB_TRACK=ON
    - make -j2
    - ctest

Build and Install:
  type: build
  script:
    - cd ${CI_PROJECT_DIR}
    - rm -rf ${CI_PROJECT_DIR}/build && mkdir ${CI_PROJECT_DIR}/build && cd ${CI_PROJECT_DIR}/build
    - rm -rf ${CI_PROJECT_DIR}/install
    - cmake ${CI_PROJECT_DIR} -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install
      -DREST_WELCOME=OFF -DREST_GARFIELD=ON -DREST_G4=ON -DRESTLIB_DETECTOR=ON -DRESTLIB_RAW=ON -DRESTLIB_TRACK=ON
    - make install -j2

  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/install
    expire_in: 1 day

Load REST Libraries:
  type: install
  script:
    - echo ${CI_PROJECT_DIR}/install/thisREST.sh
    - cat ${CI_PROJECT_DIR}/install/thisREST.sh
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - echo $REST_PATH"
    - restRoot -b -q

List REST Macros:
  type: install
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - restManager ListMacros

01_NLDBD:
  type: restG4
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/install/examples/restG4/01.NLDBD/
    - restG4 NLDBD.rml
    - geant4-config --version
    - restRoot -b -q Validate.C'("Run00001_NLDBD_Test.root")'
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/install/examples/restG4/01.NLDBD/Run00001_NLDBD_Test.root
    expire_in: 1 day

02_PandaXiiiMC:
  type: restG4
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC
    - restG4 Xe136bb0n.rml
    - restRoot -b -q ValidateG4.C'("Xe136bb0n_n2E06.root")'
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC/Xe136bb0n_n2E06.root
    expire_in: 1 day

Load Gas:
  type: metadata
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/metadata/gas/
    - restRoot -b -q LoadGasFromServerAndValidate.C
  only:
    variables:
      - $CI_SERVER_HOST == "lfna.unizar.es"

Generate Gas:
  type: metadata
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/metadata/gas/
    - restRoot -b -q GenerateDummyGas.C
  only:
    variables:
      - $CI_SERVER_HOST == "lfna.unizar.es"

AnalysisTree:
  type: core
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/analysistree/
    - restRoot -b -q simpleTree.cpp

Generate Readout:
  type: metadata
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/metadata/readout/
    - restManager --c generateReadout.rml --o readout.root
    - restRoot -b -q PrintReadout.C'("readout.root")' > /dev/null

    # We need to introduce basic validation here
    #    - diff validation.txt print.txt

Basic Readout:
  type: metadata
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/projects/basic-readouts/
    - ls
    - git status
    - git log
    - restRoot --m 1 -b -q GenerateReadouts.C'("basic.root")'
    - restRoot -b -q BasicValidation.C'("basic.root", "pixelDecoding")'

Test Metadata:
  type: restManager_generate
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/install/examples
    - restManager --c saveMetadataFile.rml --o meta.root
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/install/examples/meta.root
    expire_in: 1 day

TREX-DM Latest Data:
  type: restManager_process
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/trex
    - wget https://sultan.unizar.es/trexdm-readouts/readouts_v2.3.root
    - restManager --c 01_raw.rml --f R01928_tagTest_Vm_250_Vd_160_Pr_6_Gain_0x0_Shape_0xF_Clock_0x4-068.aqs
    - restManager --c 02_signal.rml --f RawData_01928.root
    - restManager --c 03_hits.rml --f Signals_01928.root
    - restRoot -b -q ../MakeBasicTree.C'("Hits_01928.root")'
    - rm RawData_01928.root
    - rm Signals_01928.root
    - root -b -q ../ValidateTrees.C'("validation.root")'
    - restRoot -b -q ValidateDetectorParams.C'("Hits_01928.root")'
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/trex/Hits_01928.root
    expire_in: 1 day

PandaXIII Topological:
  type: restManager_process
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC
    - restManager --c AllProcesses.rml --i testInput.root --o testOutput.root --j 1 --e 10
    - restRoot -b -q ../MakeBasicTree.C'("testOutput.root")'
    - restRoot -b -q ../ValidateTrees.C'("validation.root")'
    - restManager --c plots.rml --i testOutput.root
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC/trackParameter.png
    expire_in: 1 week

PandaXIII Topological from Geant4:
  type: restManager_process
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC
    - echo "using just-generated g4 file"
    - restManager --c AllProcesses.rml --i Xe136bb0n_n2E06.root --o testOutput.root --j 1 --e 10
    - restRoot -b -q ../MakeBasicTree.C'("testOutput.root")'
    - restRoot -b -q ../ValidateTrees.C'("validation.root")'
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/pandaxiii_MC/testOutput.root
    expire_in: 1 week

PandaXIII Data:
  type: restManager_process
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/pandaxiii_data
    - restManager --c P3AutoChain.rml --i CoBo_AsAd0_2019-03-15.graw --o testOutput.root --j 1
    - restRoot -b -q ../MakeBasicTree.C'("testOutput.root")'
    - restRoot -b -q ../ValidateTrees.C'("validation.root")'
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/pandaxiii_data/TriggerRate.png
    expire_in: 1 week

Event Selection:
  type: restManager_process
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/selection
    - restManager --c g4Analysis.rml --f "${CI_PROJECT_DIR}/install/examples/restG4/01.NLDBD/Run00001_NLDBD_Test.root"
    - restManager --c g4OnSelection.rml --f Run00001_NLDBD_Test_g4Analysis.root
    - restRoot -b -q Validate.C'("Run00001_NLDBD_Test_EvSelection.root")'

  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/pipeline/selection/IDs.txt
    expire_in: 1 week

AnalysisPlot:
  type: postProcessing
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/analysisPlot/
    - restManager --c summary.rml --f ${CI_PROJECT_DIR}/pipeline/trex/Hits_01928.root

AnalysisPlot2:
  type: postProcessing
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - cd ${CI_PROJECT_DIR}/pipeline/analysisPlot/
    - restManager --batch --c classify.rml
    - restRoot -b -q ValidateClassify.C

Deploy:
  type: deploy
  only:
    - tags
  script:
    - source ${CI_PROJECT_DIR}/install/thisREST.sh
    - rest-config --welcome
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/install
