[submodule "packages/restSQL"]
	path = packages/restSQL
	url = git@lfna.unizar.es:rest-development/restsql.git
[submodule "libraries/axion"]
	path = libraries/axion
	url = git@lfna.unizar.es:iaxo/RestAxionLib.git
