# generate doxygen

name: Docs
on:
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.12

      - name: Clone submodules
        run: |
          python pull-submodules.py --clean --dontask

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen

      - name: Build doxygen
        run: |
          cd doc/doxygen
          doxygen REST.conf

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: doc/doxygen/html

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
